# PostgreSQL configuration for development environment

# версию и values смотри на артифкатхаб:
# https://artifacthub.io/packages/helm/bitnami/postgresql

# Global configuration
global:
  postgresql:
    auth:
      # Тут два уровня аккаунтов и паролей.
      # - Один аккаунт админа постгрес(буквально админка, только через терминал изнутри shell, а не через ui)
      # - Дальше уже можно создавать аккаунты для управления бд.
      # То есть: тут НАДО задать пароль для админа!!!
          # А базы и пользователей создавать как и из админки(то есть обычная работа),
          # так и скриптом в values в initdbScripts (это для тестов используется). 

      ## @param global.postgresql.auth.postgresPassword Password for the "postgres" admin user
      # смотри full-values для понимания.
  
      # Вот пример для случая, когда ты:
      # Хочешь создашь админку и уже из админки создать аккаунты и дб.
      existingSecret: postgres-credentials
      secretKeys:
        adminPasswordKey: "admin-password"
        userPasswordKey: "user-password" # эта строка дальше 2 строки относится к initialDB. Без неё не даёт в админ-аккаунт зайти. Ебануто тупо, но да. 
      username: "dev_user" 
      database: "dev_db"

        # чё реально всё пиздёж и без пользователя и базы внутри не работает? Типо надо реально первую базу именно тут создавать. Понимаю. Реально? Надо попробовать. Вернуть. Но так-то не верю.

      # А вот аналог для случая, когда ты:
      # Хочешь чтобы одна база и один пользователь уже были автоматом созданы при развёртвании. 
      # existingSecret: postgres-credentials
      # secretKeys:
      #   adminPasswordKey: admin-password
      #   userPasswordKey: user-password 
      # username: "dev_user" 
      # database: "dev_db"

architecture: standalone # или replication

# Используем legacy репозиторий Bitnami для решения проблемы с ImagePullBackOff 
# как минимум для чарта версии 16.7.26 это проблема
image:
  registry: docker.io
  repository: bitnamilegacy/postgresql
  tag: 17.6.0-debian-12-r4
  pullPolicy: IfNotPresent

# Primary PostgreSQL configuration
primary:  
  persistence:
    enabled: true
    # existingClaim: "" # заполнить это и остальное про выдачу pvc будет игнорироваться.
    size: 8Gi
    storageClass: longhorn
    accessModes:
      - ReadWriteOnce
    # mountPath: /bitnami/postgresql # куда монитруется volume внутри контейнера.

  
  resources:
    requests:
      memory: "128Mi"
      cpu: "250m"
    limits:
      memory: "512Mi"
      cpu: "500m"

# Metrics configuration
metrics:
  enabled: false
  serviceMonitor:
    enabled: false

# Network configuration
# service:
#   type: ClusterIP
#   ports:
#     postgresql: 5432

# Security context
# securityContext:
#   enabled: true
#   fsGroup: 1001

# Backup configuration в сторонний volume. Позже реализую. Смотри values.
backup:
  enabled: false

# Monitoring
monitoring:
  enabled: false

