# PostgreSQL configuration for development environment

# версию и values смотри на артифкатхаб:
# https://artifacthub.io/packages/helm/bitnami/postgresql

# Global configuration
global:
  postgresql:
    auth:
      # Тут два уровня аккаунтов и паролей.
      # - Один аккаунт админа постгрес(буквально админка postgres)
      # - Дальше уже можно создавать аккаунты для управления бд.
      # То есть: тут НАДО задать пароль для админа!!!
          # А базы и пользователей можно создавать как и из админки(то есть обычная работа),
          # так и здесь initial одного user и одну db.
          # так и скриптом в values в initdbScripts (это для тестов используется). 

      ## @param global.postgresql.auth.postgresPassword Password for the "postgres" admin user
      # смотри full-values для понимания.
  
      # Вот пример для случая, когда ты:
      # Хочешь создашь админку и уже из админки вручную создать аккаунты и дб.
      existingSecret: postgres-credentials
      secretKeys:
        adminPasswordKey: "admin-password"

      # А вот аналог для случая, когда ты:
      # Хочешь чтобы одна база и один пользователь уже были автоматом созданы при развёртвании. 
      # existingSecret: postgres-credentials
      # secretKeys:
      #   adminPasswordKey: admin-password
      #   userPasswordKey: user-password 
      # username: "dev_user" 
      # database: "dev_db"
      # если нужно добавить больше user и db - смотри initdbScripts

      # ФАКТЫ:
      # Если ты создал/задеплоил без админа-пользователя - ты долбаёб.
      # Если выдан volume и в нём хоть раз init postgres, то больше изменение данных выше ниначто не повлиет, ибо username и database начальные создаются только единожды - при init.
      # Без inital db и user всё ок работает. Просто аккаунт пострегрс админа создать и всё ок.


architecture: standalone # или replication

# Используем legacy репозиторий Bitnami для решения проблемы с ImagePullBackOff 
# как минимум для чарта версии 16.7.26 это проблема
image:
  registry: docker.io
  repository: bitnamilegacy/postgresql
  tag: 17.6.0-debian-12-r4
  pullPolicy: IfNotPresent

# Primary PostgreSQL configuration
primary:  
  persistence:
    enabled: true
    # existingClaim: "" # заполнить это и остальное про выдачу pvc будет игнорироваться.
    size: 8Gi
    storageClass: longhorn
    accessModes:
      - ReadWriteOnce
    # mountPath: /bitnami/postgresql # куда монитруется volume внутри контейнера.

  
  resources:
    requests:
      memory: "128Mi"
      cpu: "250m"
    limits:
      memory: "512Mi"
      cpu: "500m"

# Metrics configuration
metrics:
  enabled: false
  serviceMonitor:
    enabled: false

# Network configuration
# service:
#   type: ClusterIP
#   ports:
#     postgresql: 5432

# Security context
# securityContext:
#   enabled: true
#   fsGroup: 1001

# Backup configuration в сторонний volume. Позже реализую. Смотри values.
backup:
  enabled: false

# Monitoring
monitoring:
  enabled: false

