# PostgreSQL configuration for development environment

# версию и values смотри на артифкатхаб:
# https://artifacthub.io/packages/helm/bitnami/postgresql

# Global configuration
global:
  postgresql:
    auth:
      # крч если сделать так, то первого пользователя не будет. Всё равно тебе же подключаться и вручную создавать пароль с базой для будущих команд.
      # но для автоматического тестирования норм в values указывать как я понимаю.
      enablePostgresUser: false
      username: ""
      password: ""
      database: ""

      # # existingSecret: "" # тут ты передаёшь имя секрета
      # existingSecret: postgres-credentials
      # secretKeys: # а тут ключи в этом секрете
      #   adminPasswordKey: postgres-password
      #   userPasswordKey: postgres-password
      #   replicationPasswordKey: postgres-password
      # username: "dev_user" # не шифруется
      # # password: "" # пароль для user - теперь из секрета (existingSecret)
      # database: "dev_db" # не шифруется

architecture: standalone # или replication

# Используем legacy репозиторий Bitnami для решения проблемы с ImagePullBackOff 
# как минимум для чарта версии 16.7.26 это проблема
image:
  registry: docker.io
  repository: bitnamilegacy/postgresql
  tag: 17.6.0-debian-12-r4
  pullPolicy: IfNotPresent

# Primary PostgreSQL configuration
primary:  
  persistence:
    enabled: true
    # existingClaim: "" # заполнить это и остальное про выдачу pvc будет игнорироваться.
    size: 8Gi
    storageClass: local-path-delete
    accessModes:
      - ReadWriteOnce
    # mountPath: /bitnami/postgresql # куда монитруется volume внутри контейнера.

  
  resources:
    requests:
      memory: "128Mi"
      cpu: "250m"
    limits:
      memory: "512Mi"
      cpu: "500m"
  
  nodeSelector:
    kubernetes.io/hostname: node3

# Metrics configuration
metrics:
  enabled: false
  serviceMonitor:
    enabled: false

# Network configuration
# service:
#   type: ClusterIP
#   ports:
#     postgresql: 5432

# Security context
# securityContext:
#   enabled: true
#   fsGroup: 1001

# Backup configuration в сторонний volume. Позже реализую. Смотри values.
backup:
  enabled: false

# Monitoring
monitoring:
  enabled: false

